[submodule "src/extension/encryption"]
	path = src/extension/encryption
	url = https://github.com/novomo/encryption.git
[submodule "src/webApp/scraper/src/encryption"]
	path = src/webApp/scraper/src/encryption
	url = https://github.com/novomo/encryption.git
[submodule "src/master-bot"]
	path = src/master-bot
	url = https://github.com/novomo/master-bot.git
[submodule "src/browserManager/--force"]
	path = src/browserManager/--force
	url = https://github.com/novomo/master-bot.git
